mixin postVideo(post, index)
    // each video needs a unique ID or videojs will only load 1 video 
    - var uniqueVideoTag = "reddit-video-" + index
    video-js.vjs-default-skin.w-100(controls preload="auto" id=uniqueVideoTag)
        source(src=post.data.secure_media.reddit_video.hls_url type='application/x-mpegURL')
    script(type="text/javascript").
        var player = videojs("#{uniqueVideoTag}");