doctype html
html(lang="en")
  head
    include ../includes/headers/default.pug
    include ../includes/headers/media.pug
    
    title= title
  body.sans-serif.white.bg-near-black
    include ../includes/videoplayer.pug
    include ../includes/photo-gallery.pug
    include ../includes/embed.pug

    h1.ph3= title 

    include ../includes/reddit/post.pug  
    +redditPost(post, 0)

    hr    

    include ../includes/reddit/comment.pug
    for comment in comments
      +redditComment(comment)          
