// video player CSS for default theme 
link(href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.18.1/video-js.css" rel="stylesheet")
// photo gallery CSS for UI
link(rel="stylesheet" href="https://cdn.statically.io/gh/dimsemenov/PhotoSwipe/v4.1.3/dist/photoswipe.min.css")
link(rel="stylesheet" href="https://cdn.statically.io/gh/dimsemenov/PhotoSwipe/v4.1.3/dist/default-skin/default-skin.min.css")